/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    background: url('123123.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* خلفية داكنة لتوفير تباين أفضل */
    backdrop-filter: blur(7px);
    z-index: 1;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.logo {
    width: 200px;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}

/* Pages */
.page {
    display: none;
    text-align: center;
    background-color: rgba(76, 175, 80, 0.9); /* خلفية خضراء مريحة */
    padding: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    position: relative;
    z-index: 2;
}

.page.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Input Fields */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #4ca1a3; /* لون هادئ للحدود */
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #1abc9c; /* تحسين لون التركيز */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Buttons */
button {
    padding: 12px 24px;
    background-color: #007bff; /* لون أزرق هادئ */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

button i {
    margin-left: 8px;
}

button:hover {
    background-color: #0056b3; /* لون أغمق عند التمرير */
    transform: scale(1.05);
}

/* Error Message */
.error {
    color: red;
    font-size: 1em;
    margin-top: 10px;
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}

/* Adding media queries for responsiveness */
@media (max-width: 600px) {
    .page {
        padding: 20px;
    }

    button {
        padding: 10px 20px;
    }

    h2 {
        font-size: 1.5em; /* تحسين حجم الخط للعناوين في الشاشات الصغيرة */
    }
}
